
h1{
    text-align: center;
    background-color: rgb(146, 140, 126);
}

body{
    background-color: rgb(243, 243, 241);
}

button{

border-radius: 700px;
border-width: 2px;
width: 400px;
m

}

a{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    display: block;
    margin: 50px auto;
    border-radius: 8px;
    background-color: #F9F9F9;
}
