
h1{
    text-align: center;
    background-color: rgb(146, 140, 126);
}

body{
    margin: 0px;
    padding: 0px;
    line-height: 2.0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

button{

border-radius: 700px;
border-width: 2px;
width: 400px;
}

a{color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
    
form{
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    display: block;
    margin: 50px auto;
    border-radius: 8px;
    background-color: #F9F9F9;
}

.button{
    margin: 50px auto;
}
